@import "../../assets/scss/abstracts/variables";
@import "../../assets/scss/base/colors";
@import "../../assets/scss/base/typography";


.header {
    width: 100%;
    color: red;
    position: fixed;
    left: 0;
    z-index: $z-fixed;
    background-color: $bodyColor;
}

.nav {
    max-width: 968px;
    height: $headerHeight;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo {
        color: $titleColor;
        font-weight: $fw-md;
        &:hover {
            color: $primary;
        }
    }
    
    &__toggle {
        color: $titleColor;
        font-weight: $fw-md;
        font-size: 1.1rem;
        cursor: pointer;
        &:hover {
            color: $primary;
        }
    }

    &__menu {
        position: fixed;
        bottom: -100%;
        left: 0;
        width: 100%;
        background-color: $bodyColor;
        padding: 2rem 1.5rem 4rem;
        box-shadow: 0 -1px 4px rgba(0,0,0,.15);
        border-radius: 1.5rem 1.5rem 0 0;
        transition: .3s;
    }

    &__list {
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }

    &__link {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: $fs-sm;
        color: $titleColor;
        font-weight: $fw-md;
        
        &:hover {
            color: $primary
        }

    }

    &__icon {
        font-size: 1.2rem;
    }

    &__close {
        position: absolute;
        right: 1.3rem;
        bottom: .5rem;
        font-size: 1.5rem;
        cursor: pointer;
        color: $primary;

        &:hover {
            color: $primaryDark;
        }
    }

}

.show-menu {
    bottom: 0 !important;
}
