$hue: 250;
$primary: hsl($hue, 69%, 61%);
$secondary: hsl($hue, 69%, 61%);
$primaryDark: hsl($hue, 57%, 53%);
$primaryLight: hsl($hue, 92%, 85%);
$titleColor: hsl($hue, 8%, 15%);
$textColor: hsl($hue, 8%, 15%);
$textColorLight: hsl($hue, 8%, 65%);
$inputColor: hsl($hue, 70%, 96%);
$bodyColor: hsl($hue, 60%, 99%);
$conatinerColor: white;

