* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 0 $headerHeight;
    font-family: $bodyFont;
    font-size: $fs-md;
    background-color: $bodyColor;
    color: $textColor;
}

body.dark-theme {
    $hue: 230; // purple 250, Green 142, Blue 230, Pink 340
    $secondary: hsl($hue, 30%, 8%);
    $titleColor: hsl($hue, 8%, 95%);
    $textColor: hsl($hue, 8%, 75%);
    $inputColor: hsl($hue, 29%, 16%);
    $bodyColor: hsl($hue, 28%, 12%);
    $conatinerColor: hsl($hue, 29%, 16%);
    $scrollBarColor: hsl($hue, 12%, 48%);
    $scrollThumbColor: hsl($hue, 12%, 36%);
}

h1,
h2,
h3,
h4 {
    color: $titleColor;
    font-weight: $fw-sb;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

::-webkit-scrollbar {
    width: .60rem;
    height: 0.5rem;
    background-color: $scrollBarColor;
    border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb {
    background-color: $scrollThumbColor;
    border-radius: 0.5rem;

    &:hover {
        background-color: $textColorLight;
    }
}

// For small devices
@media screen and (max-width: 350px) {

    ._skills__title {
        font-size: $fs-md;

    }
}

// For medium devices
@media screen and (min-width: 568px) {

    .about {
        &__container {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    .skill {
        &__container {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media screen and (min-width: 768px) {

    body {
        margin: 0;
    }

    .section {
        padding: 6rem 0 2rem;

        &__subtitle {
            margin-bottom: 4rem;
        }
    }

    .main,
    .footer__container {
        padding: 0 1rem;
    }

    .about {
        &__container {
            column-gap: 5rem;
        }

        &__img {
            width: 350px;
        }

        &__description {
            text-align: initial;
        }

        &__info {
            justify-content: space-between;
        }

        &__buttons {
            justify-content: initial;
        }
    }

    .footer {
        &__container {
            grid-template-columns: repeat(3, 1fr);
        }

        &__bg {
            padding: 3rem 0 3.5rem;
        }

        &__links {
            flex-direction: row;
            column-gap: 2rem;
        }

        &__socials {
            justify-self: flex-end;
        }

        &__copy {
            margin-top: 4.5rem;
        }
    }
}
