@import '../src/assets/scss/app.scss';

.layout {
    display: flex;
    height: 100vw;

    &__social {
        width: 40px;
        position: fixed;
        bottom: 0px;
        left: 40px;
        right: auto;
        z-index: 10;
        // color: var(--light-slate);
    }

    &__content {
        
    }

    &__email {
        width: 40px;
        position: fixed;
        bottom: 0px;
        left: auto;
        right: 40px;
        z-index: 10;
        // color: var(--light-slate);
    }
}